footer {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    width: 100%;
    padding: 5px 15px;
    font-size: 11px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:nth-child(1) {
    border-right: 1px solid #fff;
    padding-right: 12px;
}

footer a:hover {
    color: #eda42b;
}