nav .btn {
    color: #fff;
}

.header{
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.button{
    padding: 7px 50px;
    border-radius: 10px;
    border: 0px;
    background-color: #f1b24a;
}
.not-connected{
    background-color: coral;
    color: black;
}
.connected{
    background-color: lightgrey;
    color: gray;
}
.position{
    position: inherit;
    top: 0;
    right: 0;
}
.link{
    position: inherit;
    top: 0;
    left: 0;
}
.link:hover {
    background-color: #f1b24a;
}
.balances{
    padding: 5px 7px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
}